.board {
    margin: 1rem;
    padding-bottom: 1rem;
}
::ng-deep .card .mat-card-header-text {
    margin: 0!important;
}
::ng-deep .comments .mat-card-subtitle {
    margin: 0!important;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
h1 {
    margin: 0;
}
.card {
    margin-bottom: 2rem;
}
.comments {
    box-shadow: 1px 1px 1px 1px #98ccbd5c, 0px 0px 0px 0px #98ccc77a, 0px 0px 6px 0px #98ccc759;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 12px;
}
.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}
.flex {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}
.flex button {
    margin-right: 0.5rem;
}
.noresult {
    margin-bottom: 0.5rem;
}
::ng-deep .card .mat-card-header {
    display: flex;
    flex-direction: column-reverse;
}
::ng-deep .card .mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
}
::ng-deep .card .mat-card-actions#arrow {
    margin-bottom: 0.3rem;
}
.shadow {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
textarea {
    margin-left: 0.5rem;
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%), 0px 0px 0px 0px rgb(0 0 0 / 10%), 0px 0px 6px 0px rgb(0 0 0 / 10%);
    border: 0px;
    border-radius: 12px;
    width: 100%;
    resize: none;
    padding-left: 0.3rem;
}
.img {
    margin: 1rem auto;
    display: block;
    margin-bottom: 1rem !important;
    max-width: 250px;
}