h1 {
    margin: 0;
}
.mat-card-footer {
    padding: 0 16px 16px 16px;
    text-align: right;
}
img {
    max-width: 100%;
}
#price {
    color: #5c6570;
    font-size: 2rem;
    font-weight: 600;
}
.mat-card {
    text-align: center;
    width: 60%;
    margin: 0 auto 1rem auto;
}
.shopping-cart {
    margin: 1rem;
    padding-bottom: 1rem;
}
.btn-product {
    display: block;
    margin: 1rem auto;
    width: 100%;
}
.btn-product mat-icon {
    margin-right: 0.5rem;
}
.mat-form-field {
    width: 50%;
    display: block;
    margin: 1rem auto 0 auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
@media (min-width: 550px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
@media (min-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}