<div class="container-login">
    <div class="container-logo">
        <img src="/frontoffice/assets/logo/Animal_house_frontoffice.svg" alt="">
    </div>
    <div class="login-form">
        <mat-card>
            <mat-card-header class="header-login">
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="field" appearance="fill">
                    <mat-label aria-label="Username input">Username</mat-label>
                    <input [(ngModel)]="username" required type="text" matInput>
                </mat-form-field>
                <mat-form-field class="field" appearance="fill">
                    <mat-label aria-label="Password input">Password</mat-label>
                    <input [(ngModel)]="password" required type="password" matInput>
                </mat-form-field>
            </mat-card-content>
            <mat-card-footer>
                <button class="btn-login btn-primary" mat-raised-button (click)="login()">Login</button>
                <p>Non hai ancora un accout? <a routerLink="/registration">Registrati</a></p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
