<div class="container">
    <div class="container-logo">
        <img src="/frontoffice/assets/logo/Animal_house_frontoffice.svg" alt="">
    </div>
    <div class="container-registration">
        <mat-card>
            <mat-card-header class="header-login">
                <mat-card-title>Registrati</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="field" appearance="fill">
                    <mat-label aria-label="Name input">Nome</mat-label>
                    <input [(ngModel)]="name" required type="text" matInput>
                </mat-form-field>
                <mat-form-field class="field" appearance="fill">
                    <mat-label aria-label="Surname input">Cognome</mat-label>
                    <input [(ngModel)]="surname" type="text" matInput>
                </mat-form-field>
                <mat-form-field class="field" appearance="fill">
                    <mat-label aria-label="Username input">Username</mat-label>
                    <input [(ngModel)]="username" required type="text" matInput>
                </mat-form-field>
                <mat-form-field class="field" appearance="fill">
                    <mat-label aria-label="Password input">Password</mat-label>
                    <input [(ngModel)]="password" required type="password" matInput>
                </mat-form-field>
            </mat-card-content>
            <mat-card-footer>
                <button (click)="registration()" class="btn-registration btn-primary" mat-raised-button>Registrati</button>
                <p>Torna alla pagina di <a routerLink="/login">login</a></p>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
