.home {
    margin: 1rem;
    padding-bottom: 1rem;
}
mat-card {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
img {
    width: 100%;
}
.mat-card-actions {
    text-align: center;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
    justify-content: center;
}
.btn-service {
    width: 50%;
    margin: 1rem auto;
}
@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
@media (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}